body {
  background-color: navajowhite;
}

.main-body {
  margin: 10px;
}

footer {
  display: flex;
  justify-content: center;
}

nav{
  display: flex;
  justify-content: space-evenly;
  border: 7px solid black;
  background-color: beige;
  font-size: 45px;
  text-decoration: none;
  color: black;
  border: 7px solid black;
}

nav a {
  text-decoration: none;
  color: black;
}
nav a:hover{
  color: teal;
}

.middle-column {
  border: 7px solid black;
}

#show_listing {
  display: flex;
  border: 7px solid black;
  min-width: 250px;
  max-height: 700px;
  min-height: 100px;
  flex-direction: column;
  background-color: beige;
}

.listings {
  display: flex;
}

.show-listing-header {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-decoration: underline;
  font-size: 35px;
}

.show-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}


.showbutton {
  border: 3px solid aqua;
  background-color: aquamarine;
  border-radius: 25%;
  font-weight: bold;
  color: crimson;
  box-shadow: 1px 1px 20px black;
}

.deletebutton {
  border-radius: 100%;
  width: 22px;
  height: 22px;
  border: none;
  position: relative;
  top: 1.2px;
  color: red;
}

.editor{
  display: flex;
  border: 7px solid black;
  width: 100%;
  height: 600px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

h2  {
  text-decoration: underline;
  font-size: 45px;
}


.save-button {
  border: 3px solid aqua;
  background-color: aquamarine;
  width: 125px;
  height: 40px;
  border-radius: 45%;
  font-weight: bold;
  color: crimson;
  box-shadow: 1px 1px 20px black;
}

/* Preview page specific css below */

#img {
  display: flex;
  justify-content: space-evenly;
  min-width: 400px;
  max-width: 600px;
  min-height: 400px;
  max-height: 600px;
}